body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: table;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:medium;
}

.wholeScreen {
	background: beige;
	font-size: 16px;
}

.sideBar {
	background: #337AB7;
	float: left;
	overflow:auto;
}

.viewContainer {
	background: url(images/paper1.jpg);
	float: left;
	overflow: hidden;
}

.timelineContainer {
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bubbleContainer {
	float: left;
	width: 100%;
	height: 100%;
}

.se-pre-con {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity:.6;
	background: url(images/Preloader_3.gif) center no-repeat #fff;
}

.people-list {
	overflow: auto;
}

.person-listing {
	cursor: pointer;
	text-align: center;
	height: 50px;
	margin: .2em;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
}

.person-listing:hover {
	border: 2px solid black;
	cursor: pointer;
	background: lightgrey;
}

.personImage {
	float: left;
	height: 48px;
	width: 48px;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 32px;
}

.personInformation {
	float: left;
	height: 100%;
}

.timelineImage {
	position: absolute;
	background:white;
	left: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	font-size: 65px;
}

.timelineImage:hover {
	cursor: pointer;
}

.timelineImageMapIcon {
	position: absolute;
	background: lightskyblue;
	left:0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
}

.timelineName {
	font-size: 12px;
	font-weight: bold;
}

.timelineDrawSpace {
	height: 100%;
	margin-left: 110px;
	overflow: auto;
	cursor: grab;
	cursor: -webkit-grab;
}

.scrolling-timeline {
	height: 100%;
	position: relative;
}

.timelinePopup {
	position: absolute;
	height: 120px;
	width: 300px;
	font-size: 16px;
	background: beige;
	top: -140px;
	display: none;
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px;
	z-index: 1000;
}

.eventCircle {
	cursor: pointer;
	position:absolute;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 1px solid black;
	background: #ff631a;

	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
}

.eventCircle:hover .timelinePopup{
	display: block;
}

.input-group>input, .input-group>div{
	border-radius: 0 !important;
}

.closeMap {
	height: 100px;
	width: 100px;
	position: absolute;
	top:0;
	left: calc(100% - 100px);
	border-radius: 50%;
	cursor:pointer;
}

.setDateRange {
	height: 50px;
	width: 50px;
	position:absolute;
	top: calc(100% - 75px);
	left: 90%;
	border-radius: 10%;
	cursor: pointer;
}

.startDate {
	position: absolute;
	top: calc(100% - 72px);
	left: 83%;
	display: inline-block;
	background: white;
}

.sdInput {
	text-align: center;
	width: 4em;
}

.endDate {
	position: absolute;
	top: calc(100% - 47px);
	left: 83%;
	background: white;
}

.edInput {
	text-align: center;
	width: 4em;
}


.closeMap:hover {
	background: rgba(200, 200, 200, 0.5);
}

.mapTitle {
	position: absolute;
	text-shadow: 2px 2px 2px #000, -2px -2px 2px #000;
	text-align: center;
	color: rgb(230,230,230);
	font-size: 20px;
	font-weight: bold;
	height: 1em;
	width: 400px;
	top: 5%;
	left: calc(50% - 200px);
}

.imageHolder {
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
	padding-left: calc(50% - 100px);
}

.imageHolder img {
	border: 1px solid black;
	height: 200px;
	width: 200px;
}

.imageHolder img:hover {
	border-radius: 50%;
}

.mainListingImage {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	vertical-align: inherit;
}

.timelineActualImg {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	vertical-align: baseline;
}